
.nav{
    &.nav-primary{
      background-color: theme-color("primary");
      border: 1px solid theme-color("highlight");
      font-size: $font-size-lg;
      .nav-link{
          color:theme-color("highlight");
        
      }

      .nav-link.active{
          background-color: theme-color("highlight");
          color:theme-color("primary");
      }



    }
    
}