.item-card{
    display: flex;
    flex-direction: column;
    position: relative;
    .item-tag{
        position: absolute;
        left: 20px;
        top:0;
        writing-mode: vertical-lr;
        background-color: $primary;
        color: white;
        padding: 0.8rem;
        letter-spacing: 5px;

    }

    .item-like-icon{
        position: absolute;
        right: 20px;
        top:20px;
        color: theme-color("highlight");
    }

    .like-icon{
        cursor: pointer;
        .like-checkbox, .full-heart{
          display: none;  
        }

        .like-checkbox:checked{
          & ~ .full-heart{
              display: inline-block;
          }

          & ~ .empty-heart{
              display: none;
          }
        }

        
      
    }

    .item-img{
        height: 300px;
    }

    .item-body{
        display: flex;
        text-align: center;
        border: 1px solid $primary-light;
    }

    .item-title{
        border-right: 1px solid $primary-light;
    }

    .item-title,.item-price{ 
        padding: 1rem;
    }


    .item-cart{
        border-radius: 0;
        padding: 1rem;
    }


}
