.section{
    .section-image{
        min-height: 300px;
    }

    .vertical-height{
        max-height: 400px;
        line-height: 2;
     
    }

    .my-negative{
        margin-top: -24px;
        margin-bottom: -24px;
    }
}