
// bg-cover

.bg-cover{
    background-size: cover;
    background-position: center center;
}



// full content
.full-content{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


.letter-spacing{
    letter-spacing: 10px;
}


// writing mode
.writing-vertical{
  writing-mode: vertical-rl ;
  
}
.writing-md-vertical{
    @include media-breakpoint-up(md) {
        writing-mode: vertical-rl ;
     }
}


// bg-color

.bg-highlight{
    background-color: theme-color("highlight");
}


.bg-primary{
    background-color: theme-color("primary");
}

.bg-primary-light{
    background-color: $primary-light;
}

.bg-primary-lighter{
    background-color: $primary-lighter;
}




// text color

.text-highlight{
    color: theme-color("highlight");
}


.text-primary{
    color: theme-color("primary");
}


.text-primary-light{
    color: $primary-light;
}

.text-primary-lighter{
    color: $primary-lighter;
}



// custom btn

.btn-primary-light{
    @include button-variant($primary-light, $primary-light);
}



.btn-highlight-dark{
    @include button-variant($white, $highlight-dark);
}




